/* ///////////////////// */
body {
    width: 100%;
    height: auto;
}

h2 {
    font-family: Arial;
    font-size: 2.5rem;
    text-align: center;
}

/* ///////////////////// */
select {
    position: absolute;
    background-color: #f0f8ff;
    color: #333;
    font-size: 18px;
    padding: 8px;
    border: 2px solid #0077cc;
    border-radius: 5px;
    left: 150px;
    width: 20%;
    margin: 5px;
}

/* ///////////////////// */
div.box {
    position: relative;
    height: 400px;
    width: 815px;
    left: 25%;
    padding: 10px;
    border: 3px solid lightgrey;
}

div.dropdown0 {
    position: absolute;
    top: 50px;
    height: 30px;
    width: 770px;
    left: 5px;
}

div.dropdown1 {
    position: absolute;
    top: 150px;
    height: 30px;
    width: 770px;
    left: 5px;
}

div.dropdown2 {
    position: absolute;
    top: 275px;
    height: 30px;
    width: 770px;
    left: 5px;
}

div.button {
    position: absolute;
    top: 200px;
    height: 30px;
    width: 770px;
    left: 300px;
}

div.dropdownleft {
    left: 20px;
}

div.dropdownright {
    left: 370px;
}

div.ipnbr {
    position: relative;
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    height: 50px;
    width: 815px;
    left: 25%;
    padding: 10px;
}

.selectstyle {
    position: relative;
    font-family: Arial;
    font-size: 18px;
    margin-left: 5px;
    top: 15px;
}

/* ///////////////////// */

.custom-button {
    background-color: #4CAF50;
    /* Grün */
    top: 370px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    /* Ermöglicht die Positionierung mit top und left */
}

.custom-button:hover {
    background-color: #45a049;
    /* Etwas dunkleres Grün beim Hover */
}

#bSAVE {
    position: absolute;
    font-size: 184x;
    background-color: lightgreen;
    top: 250px;
    height: 30px;
    width: 300;
    left: 300px;
}

/* /////////Zeile in 10 //////////// */

.line-with-text {
    position: absolute;
    height: 30px;
    width: 770px;
    left: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
}

.line-with-text::before,
.line-with-text::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid lightgray;
}

.line-with-text:not(:empty)::before {
    margin-right: 10px;
}

.line-with-text:not(:empty)::after {
    margin-left: 10px;
}

/* /////////Zeile in 225 //////////// */
.lwt225 {
    top: 225px;
}

/* /////////Zeile in 325 //////////// */
.lwt325 {
    top: 325px;
}

/* ///////// Radio Button //////////// */

/* CSS für die Klasse */
.custom-radio {
    position: absolute;
    /* Ermöglicht die Positionierung mit top und left */
    transform: scale(1.5);
    /* Vergrößert den Radio-Button */
    margin-left: 10px;
    /* Abstand zwischen Radio-Button und Text */
}

/* CSS für die Klasse */
.custom-radio-label {
    position: absolute;
    /* Ermöglicht die Positionierung mit top und left */
    top: 375px;
    font-family: Arial;
    font-size: 18px;
}