body {
	width: 100%;
	height: auto;
}

h2 {
	font-family: Arial;
	font-size: 2.5rem;
	text-align: center;
}

/* ///////////////////// */
input[type=range] {
	-webkit-appearance: none;
	position: absolute;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	background: lightskyblue;
}

.sliderh {
	left: 74px;
	width: 80%;
	height: 25px;
	margin: 5px;
}

.sliderv {
	height: 25px;
	width: 200px;
	margin-top: 75px;
	margin-left: 10px;
	outline: none;
	transform-origin: 75px 75px;
	transform: rotate(-90deg);
}

input[type=range]:hover {
	opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #04AA6D;
	cursor: pointer;
}

input[type=range]::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #04AA6D;
	cursor: pointer;
}

/* ///////////////////// */
.textstyle {
	position: absolute;
	margin-top: 10px;
	font-family: Arial;
	font-size: 18px;
	text-align: left;
}

.verticaltextstyle {
	position: absolute;
	margin-top: 5px;
	margin-left: 15px;
	font-family: Arial;
	font-size: 14px;
	align-items: center;
}

output.txtstyle {
	margin-left: 700px;
}

span.txtstyle {
	margin-left: 5px;
}

/* ///////////////////// */
button.buttonstyle {
	text-align: center;
	border: none;
	height: 30px;
	position: relative;
	top: 3px;
	left: 5px;
	border-radius: 8px;
	color: var(--color);
	background: transparent;
	margin: 4px 4px;
	cursor: pointer;
}

button:hover {
	background: var(--color);
	color: white;
}

/* ///////////////////// */
.veryshortbutton {
	width: 110px;
	font-size: 14px;
}

.shortbutton {
	width: 160px;
	font-size: 14px;
}

.mediumbutton {
	width: 260px;
	font-size: 14px;
}

.longbutton {
	width: 725px;
	font-size: 16px;
}

/* ///////////////////// */

#bSTOP {
	background-color: red;
}

/* ///////////////////// */
div.box0 {
	position: relative;
	height: 50px;
	width: 815px;
	left: 30%;
	padding: 10px;
	border: 3px solid lightgrey;
}

div.box1 {
	position: relative;
	height: 80px;
	width: 815px;
	left: 30%;
}

div.box2 {
	position: relative;
	height: 240px;
	width: 815px;
	left: 30%;
	border: 3px solid lightgrey;
}

div.buttonslice {
	position: relative;
	height: 45px;
	width: 740px;
	left: 5px;
}

div.rangeslice {
	position: relative;
	height: 30px;
	width: 770px;
	left: 5px;
}

div.datalistslice {
	position: relative;
	width: 75%;
	height: 7%;
	margin-left: 85px;
}

div.datalistverticalslice {
	position: absolute;
	top: 12%;
	right: 0%;
	width: 3%;
	height: 85%;
}

div.verticalslice {
	position: absolute;
	top: 1%;
	right: 2%;
	width: 5%;
	height: 95%;
}

.range__list {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	margin-top: 1px;
	font-family: Arial;
	font-size: 10px;
	align-items: center;
	margin-top: 1px;
}

.range__list_vert {
	flex-direction: column-reverse;
	height: 95%;
	justify-content: space-between;
}

.range__list__opt:before {
	content: "";
	display: block;
	padding-left: 3px;
	text-indent: 0;
}

.vl {
	border-left: 3px solid lightgray;
	height: 100%;
}